doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/game.js")
    script(src="js/states.js")
    // fonts
    link(href='https://fonts.googleapis.com/css?family=Bellefair', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet')
  body
    block content
